<%- layout('./layouts/mainAfterLogin') %>
<!-- Hero Section -->
<section class="hero d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 hero-content">
        <h1>HELLO <%= username.toUpperCase() %></h1>
        <p>
          Face your days with a better mood with EmotiCalm. Our unique formula
          helps reduce stress and anxiety.
        </p>
        <div class="hero-buttons">
          <a href="/forum" class="btn btn-primary forum px-4" role="button"
            >Forum Discussion</a
          >
          <a href="/diary" class="btn btn-warning journal px-4" role="button"
            >My Diary</a
          >
        </div>
      </div>
      <div class="col-md-6 hero-image text-center">
        <img src="./images/orang.png" class="img-fluid" alt="EmotiCalm Logo" />
      </div>
    </div>
  </div>
</section>

<!-- About Us Section -->
<section class="about-us py-5 bg-white">
  <div class="container">
    <h2 class="text-center mb-5">About Us</h2>
    <div class="row align-items-center mb-5">
      <div class="col-md-8">
        <p>
          Selamat datang di EmotiCalm, sebuah destinasi yang didedikasikan untuk
          meningkatkan kesejahteraan emosional Anda. Di EmotiCalm, kami percaya
          bahwa setiap orang memiliki hak untuk merasakan kedamaian dalam
          pikiran dan hati mereka, dan itulah mengapa kami berkomitmen untuk
          menyediakan solusi yang efektif untuk meningkatkan mood dan
          keseimbangan emosi.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <img
          src="./images/emoticalm_logo.png"
          class="img-fluid about-us logo"
          alt="Logo"
        />
      </div>
    </div>
    <div class="row separator mb-5">
      <div class="col-md-5">
        <div class="card p-4">
          <h3>Visi</h3>
          <p>
            Website ini adalah menjadi sumber inspirasi yang dapat meningkatkan
            mood pengguna. Kami berkomitmen menghadirkan konten-konten yang
            menginspirasi mereka dan menjadi panduan bagi mereka dalam meraih
            kesejahteraan emosional.
          </p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card p-4">
          <h3>Misi</h3>
          <p>
            Website ini adalah menjadi sumber inspirasi yang dapat meningkatkan
            mood pengguna. Kami berkomitmen menghadirkan konten-konten yang
            menginspirasi mereka dan menjadi panduan bagi mereka dalam meraih
            kesejahteraan emosional.
          </p>
        </div>
      </div>
    </div>
    <div class="row text-center mt-4">
      <div class="col-md-4">
        <div class="role">
          <img
            src="./images/orang.png"
            class="img-fluid role-img"
            alt="Hafid"
          />
          <p>Hafid Nurmajid</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="role">
          <img
            src="./images/orang.png"
            class="img-fluid role-img"
            alt="Farhan"
          />
          <p>Farhan Putra</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="role">
          <img
            src="./images/orang.png"
            class="img-fluid role-img"
            alt="Naufal"
          />
          <p>Naufal Prayoga</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Services Section -->
<section class="services py-5 bg-light">
  <div class="container text-center">
    <h2 class="mb-5">What we Served</h2>
    <div class="row service-cards justify-content-center">
      <div class="col-md-4 mb-3">
        <a href="/diary" class="card-link">
          <div class="card p-3 h-100">
            <img
              src="./images/diary.png"
              class="img-fluid mb-3"
              alt="My Diary"
            />
            <h3>My Diary</h3>
            <p>Personal diary to track your emotions.</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-3">
        <a href="/calendar" class="card-link">
          <div class="card p-3 h-100">
            <img
              src="./images/calender.png"
              class="img-fluid mb-3"
              alt="Calendar"
            />
            <h3>Calendar</h3>
            <p>Keep track of your daily activities and appointments.</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-3">
        <a href="/forum" class="card-link">
          <div class="card p-3 h-100">
            <img
              src="./images/discussion.png"
              class="img-fluid mb-3"
              alt="Discussion"
            />
            <h3>Discussion Page</h3>
            <p>Join discussions and connect with others.</p>
          </div>
        </a>
      </div>
    </div>
    <button class="btn btn-primary mt-3">Detail Information</button>
  </div>
</section>
