@media screen and (max-width: 480px) {
  .box-login {
    height: 100%;
    padding-bottom: 20px;
  }
  .left-box {
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 10px
  }
}

@media screen and (max-width: 1200px) {
  .nav-box {
    margin-left: 40px
  }
}